#title {
    height: 300px;
    background: url(../resources/7.jpg) #00000050;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
}