main {
    background: var(--white);
}

h2.page-title {
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
}

.form-container {
    padding: 20px;
    text-align: center;
}

.form-container h3 {
    font-weight: 500;
    font-size: 2rem;
}

.form-container form {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    margin: 10px;
}

.form-container form .field {
    width: 100%;
    max-width: 600px;
    height: 45px;
    /* background: black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 4px auto;
    border-radius: 4px;
    overflow: hidden;
}

.form-container form .field .sm-field {
    width: 49%;
    /* min-width: 250px; */
    height: 100%;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.form-container form .field input {
    width: 100%;
    height: 100%;
    font-family: montserrat, sans-serif;
    padding: 0 5px;
    font-weight: 500;
    outline: none;
    background: #00000020;
    border: none;
}

.form-container form .field button {
    height: 100%;
    width: 150px;
    background: var(--green);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: montserrat, sans-serif;
    margin-right: 0;
}

.form-container form .field.button {
    justify-content: flex-end;
}

.form-container form .field.message {
    height: 250px;
    overflow: hidden;
}

.form-container form .field.message textarea {
    background: #00000020;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-family: montserrat, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}

.container .column {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.container h2,
.container h4 {
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.container .column li {
    list-style: none;
    width: 100%;
}

.container .column a {
    text-decoration: none;
    color: inherit;
}

.container .column .contacts {
    width: 100%;
}

.container .column .contacts li {
    margin: 5px 0;
}

.container .column .contacts li i {
    padding: 10px;
    border-radius: 7px;
    margin-right: 5px;
    background: #00000020;
}

.container .column .links li {
    padding: 10px;
    background: #00000020;
    margin: 5px 0;
    text-transform: capitalize;
    border-radius: 3px;
}

.container .column p {
    margin: 4px 0;
}

.socials li i {
    background: #00000020 !important;
}

i

i:hover {
    background: #00000050 !important;
}